$red: #a7031f;
$black: #07030b;
$white: #faf7f2;
$blue: #5f6b85;

$smallWide: 320px;
$largeWide: 640px;

// BORDERBOX
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


// GENERAL STYLES

body {
  background-color: $white;
}

*  {
	transition-duration: 1s;
	transition-timing-function: ease-in;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
  color: $black;
}

h1, h2, h3, h4, h5, h6, .excerpt {
  font-family: 'Anton', sans-serif;
  padding: 0.5rem 1rem;
  margin: 0;
}

.excerpt p {
  font-size: 1rem;
  margin-top: 0;

}

a {
  text-decoration: none;
  color: $blue;
  transition-duration: 0.1s;
  &:hover {
    color: $black;
  }
}

h4 {
  padding: 0.2rem 1rem;
}

ul {
  list-style: none;
  padding: 0.2rem;
}

figure {
  margin: 1rem 0;
  width: 100%;
}

blockquote, #main blockquote p {
  font-family: monospace, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0.8rem;
}

.pointer {
  cursor: pointer;
}


/************* SEXY FLEXY STYLES **************/

#content {
  display: flex;
  flex-direction: column;
  min-height: 640px;
  @include media('>phone') {
    min-height: 98vh;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

    #masthead {
      background-color: $red;
      flex: 5 0 auto;
      order: 1;
      h1 {color: $white;}
      @include media('>tablet') {
        flex: 1;
        h1 {
          transform: rotate(90deg);
          transform-origin: bottom left;
          font-size: 6rem;
          position: absolute;
          padding-bottom: 0;
          margin-left: -2rem; 

        }
      }
    }


    #main {
      background-color: $white;
      flex: 4 1 auto;
      order: 2;
      display: flex;
      flex-direction: row;
      padding-bottom: 3rem;
      @include media('>tablet') {
        flex: 3 0 60vw;
        min-height: 79vh;
        p {
          max-width: 53rem;
          font-size: 1.4rem;
        }
      }
      p {
        margin: 0 1rem;
      }
    }

    #featuredImage {
      flex: 1;
    }
    #textContent {
      flex: 1;
      padding-bottom: 1rem;
    }



    #primary, #secondary {
      background-color: $white;
      display: flex;
      flex: 0 0 auto;
      margin: 0;
      padding-top: 0;
          h4, p {
         //   max-width: 320px;
          }
      @include media('>tablet') {
        position: relative;
        padding-left: 0;
        min-height: 14vh;
        h3 {
          background-color: $red;
          color: $white;
          transform: rotate(90deg);
          transform-origin: top left;
       //   top: -32.5%;
          width: 160px;

          position: absolute;
          margin: 0 3rem;
          height: 3rem;
          text-align: center;
        }
        li {
          flex: 1 1 23%;
          min-width: 120px;
          max-width: 640px;
          margin-left: 3rem;
          display: block;
          a {
            flex: 1 1 auto;

            display: flex;
            flex-direction: row;
          }
          img {
            height: 160px;
            width: $smallWide;
          }
          h4 {
            font-size: 1.6rem;
          }

        }
      }
    }

        #primary {
          order:3;
          background-color: $blue;
          color: $white;
          @include media('>tablet') {
            h3 {
              transform: none;
              position: static;
              width: $smallWide;
              margin: 0;
            }
            flex: 1 1 8rem;
            flex-direction: column;
            min-width: $smallWide;
            max-width: $smallWide;
            li {
              max-width: $smallWide;
              margin-left: 0;
              clear: left;
              a {
                flex-direction: column;
              }
              img {
                width: $smallWide;
              }
              h4, p {
                width: ($smallWide -10%);
              }
            }
          }
        }

        #secondary {
          order:4;
          background-color: cornsilk;
          @include media('>tablet') {
            min-height: 16vh;
            width: 98vw;
            flex-wrap: wrap;
            li {
//              width: 640px;
//              min-width: $smallWide;
//              max-width: $largeWide;
            }
          }
        }


/********* REALLY SPECIFIC TWEAKS ***************/

ul>h3 {
 text-transform: capitalize;
}





/************** UTILITIES ***********************/
/*
blockquote:after{
  content: 'copy';
}
*/