$red: #a7031f;
$black: #07030b;
$white: #faf7f2;
$blue: #5f6b85;

$smallWide: 320px;
$largeWide: 640px;

// BORDERBOX
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  word-wrap: break-word;
}


// GENERAL STYLES

body {
  background-color: $white;
}

*  {
	transition-duration: 1s;
	transition-timing-function: ease-in;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
  color: $black;
}

h1, h2, h3, h4, h5, h6, .excerpt {
  font-family: 'Anton', sans-serif;
  padding: 0.5rem 1rem;
  margin: 0;
}

.excerpt p {
  font-size: 1rem;
  margin-top: 0;

}

a {
  text-decoration: none;
  color: $blue;
  transition-duration: 0.1s;
  &:hover {
    color: $black;
  }
}

h4 {
  padding: 0.2rem 1rem;
}

ul {
  list-style: none;
  padding: 0.2rem;
}

figure {
  margin: 1rem 0;
  width: 100%;
}

code, pre {
  //margin-left: 1rem;
  padding: 2rem;
  margin: 0 0 0.8rem -1rem;
  background-color: transparent;
  border: 1px dotted $red;
  border-left: none;
  font-size: 1.4rem;
  display: block;
  white-space: normal;
  position: relative;
}

.pointer {
  cursor: pointer;
}


/************* SEXY FLEXY STYLES **************/

#content {
  display: flex;
  flex-direction: column;
  min-height: 640px;
  @include media('>phone') {
    min-height: 98vh;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

    #masthead {
      background-color: $red;
      flex: 5 0 auto;
      order: 1;
      h1 {color: $white;}
      @include media('>tablet') {
        flex: 1;
        min-width: 10rem; 
        h1 {
          transform: rotate(90deg);
          transform-origin: bottom left;
          font-size: 6rem;
          position: absolute;
          padding-bottom: 0;
          margin-left: -2rem; 
        }
      }
    }

/*************** MAIN CONTENT ******************/
    #main {
      background-color: $white;
      order: 2;
      flex: 4 1 auto;
//      display: flex;
//      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 3rem;
      @include media('>tablet') {
        flex: 3 0 70vw;
        min-height: 79vh;
        &.collapsed {
          flex: 0 0 10rem;
          .mainTitle{ max-width: 100%;}
          .mainImage{ max-width: 100%;}
          .mainContent{
            max-height: 23vh;
            overflow: hidden;
            font-size: 0.8rem;
            blockquote, ul, pre, code {
            }
            * {
              display: none;
            }
            p {
              display: block;
            }
          }
        }
        &.expanded {
          flex: 4 1 auto;
        }
      }
    }

/*************** FEATURED CONTENT ******************/

    .mainTitle {
  //    align-self: flex-start;
  //    border: 1px solid green;
      max-width: 40%;
  //    flex: 2 0 50%;
    }

    .mainImage {
      @include media('>tablet') {
        max-width: 50%;
        min-width: 40%;
        float: right;
  //      order: 1;
      }
    }

    .mainContent {
      color: $red;
  //    order: 2;
      font-size: 1.4rem;
  //    flex: 1 0;
      margin-top: 1rem;
      p {
        padding-left: 1rem;
      }
      p, pre, code, h1, h2 {
        max-width: 60rem;
      }
      @include media('>desktop') {
        ul {
          float: right;
          width: 30%;
        }
        li h3:before, li h4:before, li >p:before {
          content: "\262D";
          color: $red;
          padding-right: 0.6rem;
          font-size: 2rem;
        }
      }
    }

    #primary, #secondary {
      background-color: $white;
      display: flex;
      flex: 0 0 auto;
      margin: 0;
      padding-top: 0;
          h4, p {
          }
      @include media('>tablet') {
        position: relative;
        padding-left: 0;
        min-height: 14vh;
        h3 {
          background-color: $red;
          color: $white;
          transform: rotate(90deg);
          transform-origin: top left;
       //   top: -32.5%;
          width: 160px;

          position: absolute;
          margin: 0 3rem;
          height: 3rem;
          text-align: center;
        }
        li {
          flex: 1 1 23%;
          min-width: 120px;
          max-width: 640px;
          margin-left: 3rem;
          cursor: pointer;
          display: block;
          a {
            flex: 1 1 auto;

            display: flex;
            flex-direction: row;
          }
          img {
            height: 160px;
            width: $smallWide;
          }
          h4 {
            font-size: 1.6rem;
          }
        }
      }
    }

        #primary {
          order:3;
          background-color: $blue;
          color: $white;
          @include media('>tablet') {    
            h3 {
              transform: none;
              position: static;
              width: $smallWide;
              margin: 0;
            }
            flex: 1 1 8rem;
            flex-direction: column;
            min-width: $smallWide;
            max-width: $smallWide;
            li {
              flex-grow: 0;
              max-width: $smallWide;
              padding-left: 0px;
              margin-left: 0;

              clear: left;
              a {
                flex-direction: column;
              }
              img {
                width: $smallWide;
              }
              h4, p {
                width: ($smallWide -10%);
              }
              &:nth-last-child(2) {
                margin-top: auto;
              }
            }
            &.expanded {
              flex: 4 1 auto;
              flex-direction: row;
              flex-wrap: wrap;
              max-width: (80vw);
              h3.title {
                width: 100vw;
              }
            }
          }
        }

        #secondary {
          order:4;
          background-color: cornsilk;
          @include media('>tablet') {
            min-height: 16vh;
            width: 98vw;
            flex-wrap: wrap;
            &.expanded{
              flex: 3 1 80%;
            }
          }
        }


/************* EXPAND AND COLLAPSE **************/

          .collapsed .mainContent{
            max-width: 10rem;
          }

          .collapsed {
            h3.expandButton:after{
              content: 'Show more';
            }
          }
          .expanded {
            h3.expandButton:after{
              content: 'Show less';
            }
          }


/********* REALLY SPECIFIC TWEAKS ***************/

/*********** ENHANCED BLOCKQUOTE ***************/

blockquote {
    @include media('>phone') {
    width: $smallWide;
    clear: left;
    float: left;
    margin: 0 1rem 0 0;
    text-align: center;
    background-color: $red;
    p {
      color: $white;
      font-size: 1.6rem;
      line-height: 1.6rem;
      padding: 1rem;
    }
  }
}

pre blockquote {
  @include media('>phone'){
    color: $white;
    font-family: "Maven Pro", sans-serif;
    font-size: 1.4rem;
    margin: 1rem 1.4rem 1rem -1rem;
    padding: 1rem;
    br {

    }
  }
} 

ul>h3 {
 text-transform: capitalize;
}

.reactionary-copy-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px dotted $red;
  border-bottom: none;
  border-right: none;
  background-color: ghostwhite;
  transition-duration: 0.2s;
  &:hover {
    background-color: $red;
    h5 {
      transition-duration: 0.2s;
      color: $white;
    }
  }
}

.reactionary-tweet-link {
  text-align: right;
  h5 {
    color: $white;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 40%;
    border: 1px solid $red;
    margin-left: auto;
    &:before {
      content:  "\25B3";
      margin: 0 1rem 0 0.4rem ;
      font-size: 1rem;
    }
    &:hover {
      color: lighten($white, 30%);
      border: 1px solid $white;
      background-color: darken($red, 6%);
    }
  }
}


/************** UTILITIES ***********************/
