/**************************
FONTS
**************************/
@import url(https://fonts.googleapis.com/css?family=Anton|Maven+Pro);
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  word-wrap: break-word;
}

body {
  background-color: #faf7f2;
}

* {
  transition-duration: 1s;
  transition-timing-function: ease-in;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  color: #07030b;
}

h1, h2, h3, h4, h5, h6, .excerpt {
  font-family: 'Anton', sans-serif;
  padding: 0.5rem 1rem;
  margin: 0;
}

.excerpt p {
  font-size: 1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #5f6b85;
  transition-duration: 0.1s;
}

a:hover {
  color: #07030b;
}

h4 {
  padding: 0.2rem 1rem;
}

ul {
  list-style: none;
  padding: 0.2rem;
}

figure {
  margin: 1rem 0;
  width: 100%;
}

code, pre {
  padding: 2rem;
  margin: 0 0 0.8rem -1rem;
  background-color: transparent;
  border: 1px dotted #a7031f;
  border-left: none;
  font-size: 1.4rem;
  display: block;
  white-space: normal;
  position: relative;
}

.pointer {
  cursor: pointer;
}

/************* SEXY FLEXY STYLES **************/
#content {
  display: flex;
  flex-direction: column;
  min-height: 640px;
}

@media (min-width: 321px) {
  #content {
    min-height: 98vh;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#masthead {
  background-color: #a7031f;
  flex: 5 0 auto;
  order: 1;
}

#masthead h1 {
  color: #faf7f2;
}

@media (min-width: 769px) {
  #masthead {
    flex: 1;
    min-width: 10rem;
  }
  #masthead h1 {
    transform: rotate(90deg);
    transform-origin: bottom left;
    font-size: 6rem;
    position: absolute;
    padding-bottom: 0;
    margin-left: -2rem;
  }
}

/*************** MAIN CONTENT ******************/
#main {
  background-color: #faf7f2;
  order: 2;
  flex: 4 1 auto;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

@media (min-width: 769px) {
  #main {
    flex: 3 0 70vw;
    min-height: 79vh;
  }
  #main.collapsed {
    flex: 0 0 10rem;
  }
  #main.collapsed .mainTitle {
    max-width: 100%;
  }
  #main.collapsed .mainImage {
    max-width: 100%;
  }
  #main.collapsed .mainContent {
    max-height: 23vh;
    overflow: hidden;
    font-size: 0.8rem;
  }
  #main.collapsed .mainContent * {
    display: none;
  }
  #main.collapsed .mainContent p {
    display: block;
  }
  #main.expanded {
    flex: 4 1 auto;
  }
}

/*************** FEATURED CONTENT ******************/
.mainTitle {
  max-width: 40%;
}

@media (min-width: 769px) {
  .mainImage {
    max-width: 50%;
    min-width: 40%;
    float: right;
  }
}

.mainContent {
  color: #a7031f;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.mainContent p {
  padding-left: 1rem;
}

.mainContent p, .mainContent pre, .mainContent code, .mainContent h1, .mainContent h2 {
  max-width: 60rem;
}

@media (min-width: 1025px) {
  .mainContent ul {
    float: right;
    width: 30%;
  }
  .mainContent li h3:before, .mainContent li h4:before, .mainContent li > p:before {
    content: "\262D";
    color: #a7031f;
    padding-right: 0.6rem;
    font-size: 2rem;
  }
}

#primary, #secondary {
  background-color: #faf7f2;
  display: flex;
  flex: 0 0 auto;
  margin: 0;
  padding-top: 0;
}

@media (min-width: 769px) {
  #primary, #secondary {
    position: relative;
    padding-left: 0;
    min-height: 14vh;
  }
  #primary h3, #secondary h3 {
    background-color: #a7031f;
    color: #faf7f2;
    transform: rotate(90deg);
    transform-origin: top left;
    width: 160px;
    position: absolute;
    margin: 0 3rem;
    height: 3rem;
    text-align: center;
  }
  #primary li, #secondary li {
    flex: 1 1 23%;
    min-width: 120px;
    max-width: 640px;
    margin-left: 3rem;
    cursor: pointer;
    display: block;
  }
  #primary li a, #secondary li a {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
  }
  #primary li img, #secondary li img {
    height: 160px;
    width: 320px;
  }
  #primary li h4, #secondary li h4 {
    font-size: 1.6rem;
  }
}

#primary {
  order: 3;
  background-color: #5f6b85;
  color: #faf7f2;
}

@media (min-width: 769px) {
  #primary {
    flex: 1 1 8rem;
    flex-direction: column;
    min-width: 320px;
    max-width: 320px;
  }
  #primary h3 {
    transform: none;
    position: static;
    width: 320px;
    margin: 0;
  }
  #primary li {
    flex-grow: 0;
    max-width: 320px;
    padding-left: 0px;
    margin-left: 0;
    clear: left;
  }
  #primary li a {
    flex-direction: column;
  }
  #primary li img {
    width: 320px;
  }
  #primary li h4, #primary li p {
    width: 320px -10%;
  }
  #primary li:nth-last-child(2) {
    margin-top: auto;
  }
  #primary.expanded {
    flex: 4 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
  }
  #primary.expanded h3.title {
    width: 100vw;
  }
}

#secondary {
  order: 4;
  background-color: cornsilk;
}

@media (min-width: 769px) {
  #secondary {
    min-height: 16vh;
    width: 98vw;
    flex-wrap: wrap;
  }
  #secondary.expanded {
    flex: 3 1 80%;
  }
}

/************* EXPAND AND COLLAPSE **************/
.collapsed .mainContent {
  max-width: 10rem;
}

.collapsed h3.expandButton:after {
  content: 'Show more';
}

.expanded h3.expandButton:after {
  content: 'Show less';
}

/********* REALLY SPECIFIC TWEAKS ***************/
/*********** ENHANCED BLOCKQUOTE ***************/
@media (min-width: 321px) {
  blockquote {
    width: 320px;
    clear: left;
    float: left;
    margin: 0 1rem 0 0;
    text-align: center;
    background-color: #a7031f;
  }
  blockquote p {
    color: #faf7f2;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 1rem;
  }
}

@media (min-width: 321px) {
  pre blockquote {
    color: #faf7f2;
    font-family: "Maven Pro", sans-serif;
    font-size: 1.4rem;
    margin: 1rem 1.4rem 1rem -1rem;
    padding: 1rem;
  }
}

ul > h3 {
  text-transform: capitalize;
}

.reactionary-copy-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px dotted #a7031f;
  border-bottom: none;
  border-right: none;
  background-color: ghostwhite;
  transition-duration: 0.2s;
}

.reactionary-copy-button:hover {
  background-color: #a7031f;
}

.reactionary-copy-button:hover h5 {
  transition-duration: 0.2s;
  color: #faf7f2;
}

.reactionary-tweet-link {
  text-align: right;
}

.reactionary-tweet-link h5 {
  color: #faf7f2;
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: 40%;
  border: 1px solid #a7031f;
  margin-left: auto;
}

.reactionary-tweet-link h5:before {
  content: "\25B3";
  margin: 0 1rem 0 0.4rem;
  font-size: 1rem;
}

.reactionary-tweet-link h5:hover {
  color: white;
  border: 1px solid #faf7f2;
  background-color: #890219;
}

/************** UTILITIES ***********************/
